.main--container{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board--row{
  display: flex;
}

.status{
  font-size: 2.5rem;
  margin: 25px;
}

.X{
  background-color: lightcoral;
}

.O{
  background-color: lightblue;
}

.null{
  background-color: grey;
}

.reset--button{
  font-size: 1.5rem;
  margin: 30px;
}


.square{
  height: 200px;
  width: 200px;
  border: 2px solid black;
  font-size: 1.5rem;
}

